.DS_Store
.idea
.java-version
.mypy_cache
.nvmrc
.python-version
.scannerwork
*.code-workspace
!project.code-workspace

.vscode/

infrastructure/stacks/elasticsearch/errored.tfstate

test/perfermance-tests/*.jtl
