.DS_Store
.idea
.java-version
.mypy_cache
.nvmrc
.python-version
.scannerwork
*.code-workspace
!project.code-workspace

*/.classpath
*/.settings/
*/.factorypath
*/.project

.classpath
.settings/
.factorypath
.project

.vscode/

infrastructure/stacks/elasticsearch/errored.tfstate
*/bin
.settings
*/target

