# This file is required for running the API via the make commands
spring:
  elasticsearch:
    rest:
      uris: ${ELASTICSEARCH_URL}
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY

dynamo:
  config:
    accesskey: $AWS_ACCESS_KEY_ID
    region: eu-west-2
    secretkey: $AWS_SECRET_ACCESS_KEY
    endpoint: ${POSTCODE_LOCATION_DYNAMO_URL}

server:
  port: ${SERVER_PORT}
  ssl:
    key-store-type: PKCS12
    keystore: classpath:certificate/${CERTIFICATE_DOMAIN}.p12
    key-store-password:

api:
  endpoint:
    service_search: ${API_SERVICE_SEARCH_ENDPOINT}

configuration:
  version: ${VERSION}
  validation:
    min_search_term_length: ${MIN_SEARCH_TERM_LENGTH}
    max_search_criteria: ${MAX_SEARCH_CRITERIA}
  search_parameters:
    max_num_services_to_return: ${MAX_NUM_SERVICES_TO_RETURN}
    fuzz_level: ${FUZZ_LEVEL}
    name_priority: ${NAME_PRIORITY}
    address_priority: ${ADDRESS_PRIORITY}
    postcode_priority: ${POSTCODE_PRIORITY}
    public_name_priority: ${PUBLIC_NAME_PRIORITY}
