server:
  port: ${SERVER_PORT}

api:
  endpoint: ${URL}

param:
  version: ${VERSION}
  validation:
    min_search_term_length: ${MIN_SEARCH_TERM_LENGTH}
    max_search_criteria: ${MAX_SEARCH_CRITERIA}
  services:
    max_num_services_to_return: ${MAX_NUM_SERVICES_TO_RETURN}
    fuzz_level: 0
